{% capture html %}
	<ul>
    {% if include.context == "/" %}
      <li class="{{ include.class }}{% if page.url == "/" %} active open{% endif %}">
        <a href="{{ site.baseurl }}/">{% if include.class == "primary" %}1. {% endif %}Welcome</a>
      </li>
    {% endif %}

    {% assign entries = site.pages | sort: "path" %}
		{% assign count = 1 %}
    {% for entry in entries %}
			{% unless entry.exclude == true %}

	      {% capture slug %}{{ entry.url | split: "/" | last }}{% endcapture %}
	      {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

	      {% if current == include.context %}
          <li class="{{ include.class }}{% if page.url == entry.url %} active{% endif %}{% if page.url contains entry.url %} open{% endif %}">
	          <a href="{{ site.baseurl }}{{ entry.url }}">{% if include.class == "primary" %}{% assign count = count | plus: 1 %}{{ count }}. {% endif %}{{ entry.title }}</a>
            {% include custom/navigation.html context=entry.url class="secondary" %}
	        </li>
	      {% endif %}

			{% endunless %}
    {% endfor %}
	</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
