<div class="sidebar">
  <div class="sidebar-top">
    <div class="sidebar-logo">
      <a href="{{ site.url }}{{ site.baseurl }}">
        {% include custom/logo.html %}
      </a>
    </div>
    <div class="sidebar-search">
      <form role="search" class="search-form">
        <input type="search" class="form-input" placeholder="Search documentation..." />
        <span class="form-underline"></span>
      </form>
    </div>
  </div>
  <div class="sidebar-bottom">
    <nav class="sidebar-navigation">
      {% include custom/navigation.html context="/" class="primary" %}
    </nav>
  </div>
</div>
