<div class="sidebar">
  <div class="sidebar-top">
    <div class="sidebar-logo">
      <a href="{{ site.url }}{{ site.baseurl }}" title="Go to the startpage.">
        {% include custom/logo.html %}
      </a>
    </div>
    <div class="sidebar-search">
      <form role="search" class="search-form" action="/search/" method="get">
        <div class="form-group">
          <input id="search-box" class="form-input" type="search" placeholder="Search documentation..." name="query" required/>
          <span class="form-highlight"></span>
        </div>
      </form>
    </div>
  </div>
  <div class="sidebar-bottom">
    <nav class="sidebar-nav">
      {% include custom/navigation.html context="/" class="nav-primary" %}
    </nav>
  </div>
</div>
