// ==== COLORS ==== //

// Set all colors related things here.

// 1. Base colors
// 2. Color transformations
// 3. palette()

// 1. Base colors

$base-blue: #007acc;
$base-turquoise: #21a7ac;

$base-purple: #741669;
$base-pink: #da1884;
$base-orange: #ff512f;
$base-red: red;

$factor-lighter: 32%;
$factor-light: 8%;
$factor-dark: 8%;
$factor-darker: 24%;

$primary: blue;
$secondary: turquoise;

// 2. Color transformations //

// Sass map for the color palette; see `_library.scss` for the palette() function.
$_palettes: (
  pink: (
    lighter: lighten($base-pink, $factor-lighter),
    light:   lighten($base-pink, $factor-light),
    base:    $base-pink,
    dark:    darken($base-pink, $factor-dark),
    darker:  darken($base-pink, $factor-darker)
  ),
  orange: (
    lighter: lighten($base-orange, $factor-lighter),
    light:   lighten($base-orange, $factor-light),
    base:    $base-orange,
    dark:    darken($base-orange, $factor-dark),
    darker:  darken($base-orange, $factor-darker)
  ),
  turquoise: (
    lighter: lighten($base-turquoise, $factor-lighter),
    light:   lighten($base-turquoise, $factor-light),
    base:    $base-turquoise,
    dark:    darken($base-turquoise, $factor-dark),
    darker:  darken($base-turquoise, $factor-darker)
  ),
  blue: (
    lighter: lighten($base-blue, $factor-lighter),
    light:   lighten($base-blue, $factor-light),
    base:    $base-blue,
    dark:    darken($base-blue, $factor-dark),
    darker:  darken($base-blue, $factor-darker)
  ),
  purple: (
    lighter: lighten($base-purple, $factor-lighter),
    light:   lighten($base-purple, $factor-light),
    base:    $base-purple,
    dark:    darken($base-purple, $factor-dark),
    darker:  darken($base-purple, $factor-darker)
  ),
  red: (
    lighter: lighten($base-red, $factor-lighter),
    light:   lighten($base-red, $factor-light),
    base:    $base-red,
    dark:    darken($base-red, $factor-dark),
    darker:  darken($base-red, $factor-darker)
  ),
  gray: (
    lighter: #f6f6f6,
    light: #eee,
    base: #555,
    dark: #353535,
    darker: #222
  ),
  white: (
    base: #fff,
    light: #fff,
    dark: #fff
  )
);

// 3. palette() //

// A simple function to retrieve a color from the palette.
// Adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
@function palette($palette, $tone: "base") {
  @return map-get(map-get($_palettes, $palette), $tone);
}
