// === SIDEBAR === //

// Style the sidebar and content here.

.sidebar {
  width: 100%;
  background-color: palette(gray, dark);

  @include mappy-query(desktop) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    text-align: left;
  }
}

.sidebar-top {
  padding: 2rem 2rem 0;
}

.sidebar-logo {
  width: 75%;
  max-width: 12rem;

  .fill-1,
  .fill-2 {
    transition: fill $short;
    fill: palette(white);
  }

  .fill-2,
  .fill-2 {
    fill: palette(gray, light);
  }

  &:hover .fill-1,
  &:focus .fill-1,
  &:hover .fill-2,
  &:focus .fill-2 {
    fill: palette($primary);
  }
}

.sidebar-search {
  margin-top: vr(3);
}

.search-form {
  position: relative;
}

.sidebar-bottom {
  padding: 1.5rem 0;
}

.sidebar-nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: navCounter;
}

.nav-primary {
  @include font(navigation);

  position: relative;
  margin: .5rem 0;
  color: palette(white);
  counter-increment: navCounter;

  &::before {
    position: absolute;
    top: 0;
    left: 2rem;
    content: counter(navCounter) ".";
  }

  > a {
    display: block;
    width: 100%;
    padding: 0 4rem;
    transition: background-color $short;

    // Hover state.
    &:hover {
      background-color: palette(gray, darker);
    }
  }

  // Open state.
  &.open {
    background-color: palette(gray);

    > a {
      background-color: palette($primary, dark);
    }
  }
}

.nav-secondary {
  padding: 0 4rem;
  color: palette(gray, light);

  a {
    @include font(body);

    transition: color $short;
    font-size: ms(0);

    // Hover state.
    &:hover,
    &:focus {
      color: palette($primary);
    }

    // Active state.
    &.active {
      font-weight: $sans-semibold;
    }
  }
}
