// ==== FOOTER ==== //

// Style the footer here.

.footer-previous,
.footer-next {
  display: block;
  transition: background-color $short;
  background-color: palette(white);

  &:hover,
  &:focus {
    background-color: palette(gray, lighter);
  }

  svg {
    display: block;
    position: relative;
    top: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    fill: palette(gray);
  }
}

.footer-previous {
  @include mappy-query(desktop) {
    left: 20rem;
  }
}

.footer-next {
  @include mappy-query(desktop) {
    right: 0;
  }
}

.footer {
  padding-top: vr(1);
  padding-bottom: vr(1);
}

.footer-text {
  @include font(header3);

  color: palette(gray);
  text-align: center;
}
