// ==== FORM ==== //

// Style the form components here.

.form-input {
  @include font(body);

  width: 100%;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid palette(gray);
  outline: none;
  background: none;
  color: palette(gray, darker);
  line-height: 1.75;
  text-align: left;
  resize: none;
}

.form-underline {
  display: block;
  position: relative;
  bottom: 2px;
  width: 0;
  height: 2px;
  margin: 0 auto;
  transition: $short;
  background-color: palette(orange);
}

.form-input:focus ~ .form-underline {
  width: 100%;
}
